---
import ContentSection from "./content-section.astro";
---

<ContentSection id="nivelProducto" title="Nivel del Producto">
    <strong class="text-primary text-xl/7">Servicio Básico</strong>
    <p class="max-w-[80%]">
        Crear una landing page rápida y funcional.Este nivel se refiere al
        servicio esencial que el cliente está adquiriendo. En este caso, es la
        creación rápida y funcional de una landing page. Los elementos clave de
        este nivel son:
        <ul class="min-w-[80%] max-w-[80%]">
            <li>
                <strong class="text-secondary">Función principal:</strong>
                Proporcionar una landing page que cumpla con el objetivo de captar
                clientes potenciales o promocionar un producto/servicio.
            </li>
            <li>
                <strong class="text-secondary">Rápida entrega:</strong>
                Compromiso en la entrega en tiempos reducidos (por ejemplo, en 24
                o 48 horas) sin sacrificar la calidad.
            </li>
            <li>
                <strong class="text-secondary"
                    >Adaptación básica al cliente:</strong
                >
                Incluye la incorporación de los elementos básicos que el cliente
                necesita, como texto, imágenes, y formularios de contacto.
            </li>
        </ul>
    </p>
    <strong class="text-primary text-xl/7">Servicio Real</strong>
    <p class="max-w-[80%]">
        En este nivel, se añaden atributos y beneficios adicionales que mejoran
        la experiencia del cliente y hacen el servicio más competitivo:
        <ul class="min-w-[80%] max-w-[80%]">
            <li>
                <strong class="text-secondary">Diseño personalizado:</strong> Opciones
                de personalización visual para que la landing page se adapte a la
                identidad de la marca del cliente.
            </li>
            <li>
                <strong class="text-secondary">SEO básica:</strong> Configuración
                de etiquetas meta, palabras clave y descripciones que mejoren la
                visibilidad de la landing page en motores de búsqueda.
            </li>
            <li>
                <strong class="text-secondary">A/B Testing básico:</strong> Implementación
                de dos versiones de la landing page para que el cliente pueda realizar
                pruebas y ver cuál tiene mejor rendimiento.
            </li>
            <li>
                <strong class="text-secondary"
                    >Optimización para dispositivos móviles:</strong
                > Garantía de que la página se visualice correctamente en smartphones
                y tablets.
            </li>
        </ul>
    </p>
    <strong class="text-primary text-xl/7">Servicio aumentado</strong>
    <p class="max-w-[80%]">
        Este nivel incluye servicios adicionales que no son estrictamente
        necesarios, pero que mejoran significativamente la propuesta de valor y
        la experiencia del cliente:
        <ul class="min-w-[80%] max-w-[80%]">
            <li>
                <strong class="text-secondary"
                    >Análisis de rendimiento:
                </strong>
                Reportes sobre el desempeño de la landing page (por ejemplo, visitas,
                tasas de conversión, tiempo de permanencia).
            </li>
            <li>
                <strong class="text-secondary"
                    >Integración con herramientas de marketing:
                </strong>
                Integración con plataformas de email marketing, como Mailchimp o
                HubSpot, o con CRM para que los contactos capturados se guarden automáticamente.
            </li>
            <li>
                <strong class="text-secondary"
                    >Asistencia técnica extendida:
                </strong>
                Soporte técnico post-lanzamiento, incluyendo ajustes menores y mantenimiento
                durante un período determinado.
            </li>
            <li>
                <strong class="text-secondary"
                    >Optimizaciones de velocidad:
                </strong>
                Mejoras de carga de la página para optimizar la experiencia de usuario
                y reducir el tiempo de espera.
            </li>
            <li>
                <strong class="text-secondary"
                    >Actualizaciones periódicas:
                </strong>
                Opcionalmente, se ofrecen actualizaciones o ajustes continuos para
                mantener la página optimizada según las tendencias o cambios en la
                estrategia de marketing del cliente.
            </li>
        </ul>
    </p>
</ContentSection>
